/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark:   #383C4A; */
/*     --light:  #7C818C; */
/*     --ld:     #404552; */
/*     --dl:     #4B5162 */
/*     --white:  white; */
/* } */

*{
  font-family: "Fira Mono Nerd Font";
  font-size: 1em;
}

window{
  background-color: transparent;
}

#input {
  margin: 5px;
  margin-bottom: 30px;
  border: 2px solid #CAA6F7;
  background-color: rgba(36, 36, 56, 0.4);
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
}


#inner-box {
  background-color: rgba(36, 36, 56, 0.4);
  border-radius: 5px;
}

#outer-box {
  margin: 2px;
  border-radius: 5px;
  background-color: transparent;
}

#text {
  color: white;
}

#entry:selected {
    background-color: rgba(202, 166, 247, 0.3);
  border: 2px solid #CAA6F7;
}

#text:selected {
}

#scroll {
    display: none;
}

#img {
}

/* Give color to even items */
/* #entry:nth-child(even){ */
/*     background-color: #404552; */
/* } */
