* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.05);
}

button {
    border-radius: 0;
    border-color: #cba6f7;
	text-decoration-color: #ffffff;
    color: #FFFFFF;
	background-color: #313244;
	border-style: solid none;
	border-width: 4px;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: 75%;
}

button:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#lock {
    border-left-style: solid;
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/exit.png"));
}

#suspend {
    background-image: image(url("./icons/slwwp.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    border-right-style: solid;
    background-image: image(url("./icons/reload.png"));
}

#lock:focus {
    background-color: #f38ba8;
}

#logout:focus {
    background-color: #fab387;
}

#shutdown:focus {
    background-color: #a6e3a1;
}

#suspend:focus {
    background-color: #f9e2af;
}

#reboot:focus {
    background-color: #cba6f7;
}
